@import "tailwindcss";

/* Reset kecil */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Base */
body {
  font-family: system-ui, sans-serif;
  background: #f9f7f0;
  color: #102440;
}
